*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.card{
    width: 24rem;
    height: 36rem;
    border-radius: 1rem 3rem 1rem 1rem;

    background: #ffffff;
    box-shadow: 0rem 0.25rem 2.5rem rgba(0, 0, 0, 0.25);

    position: relative;
}

.card img{
    position: absolute;
    width: 25rem;
    top: -10rem;
    right: 1rem;
    z-index: 99;
}

.shadow{
    width: 100%;
    height: 100%;
    border-radius: 1rem 3rem 1rem 1rem;

    position: absolute;
    overflow: hidden;
}

.shadow::after{
    content:"";
    width: 450px;
    height: 320px;
    border-radius: 50%;
    transform: rotate(-15deg);

    top: -160px;
    left: -40px;
    position: absolute;
    background-image: linear-gradient(114.61deg, rgba(196, 196, 196, 0) -19.56%, rgba(196, 196, 196, 0.3) 120%);
}

.card-content{
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    padding: 170px 30px 0;
}

.card-content .subtitle{ 
    font: 700 1.5rem 'Montserrat', sans-serif;
    color: #8f8f8f;
}

.card-content .title{
    font: bold 2.5rem 'Montserrat', sans-serif;
    color: #29455f;
    line-height: 42px;
    margin-top: 10px;
}

.card-content .price{
    font: bold 1.5rem 'Open Sans', sans-serif;
    line-height: 30px;
    color: #29455f;
    margin: 10px 0;
    text-align: right;
}

.price span{
    font-size: 1rem;
    color: #808080;
    margin-right: 5px;
}

.actions-container{
    display: flex;
}

.actions-container .shoes-options{
    flex-grow: 1;
}